.header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(89, 91, 93);
padding: 10px 20px ;
margin-bottom: 80px;
border-radius: 10px;
}
.header a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(251, 251, 251, 0.886);
}
.footer{
text-align: center;
background-color: rgb(89, 91, 93);
padding: 20px;
margin-top: 80px;
border-radius: 10px;
}